<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    <style>
        #chat-log {
            border: 1px solid black;
            border-radius: 4px;
            padding: 8px;
            width: 50vw;
            height: 50vh;
            overflow: auto;
            margin-bottom: 8px;
        }

        #chat-message-input {
            width: 50vw;
            padding: 8px;
        }

        #chat-log div {
            margin-bottom: 4px;
        }

        #chat-log .sent-for-me {
            text-align: right;
        }
    </style>
</head>
<body>
    <h1 id="chat-name">{{room_name}}</h1>
    <h3>{{user.get_username}}</h3>
    <div id="chat-log"></div>
    <textarea id="chat-message-input" rows="5" placeholder="type a message..."></textarea>
    <br>
    <input id="chat-message-submit" type="button" value="Send">

    <!-- attrs to get on script -->
    {{ room_name|json_script:"room-name" }}
    {{ user.get_username|json_script:"username" }}

    <script>
        const room_name = JSON.parse(document.getElementById('room-name').textContent)
        const username = JSON.parse(document.getElementById('username').textContent)

        const chatSocket = new WebSocket(`ws://${window.location.host}/ws/chat/${room_name}/`)

        chatSocket.onopen = function(e) {
            chatSocket.send(JSON.stringify({
                action: 'get_last_messages',
            }))
        }

        chatSocket.onmessage = function(e) {
            const chat_log_element = document.querySelector('#chat-log')
            const data = JSON.parse(e.data);

            switch(data?.type) {
                case 'new_message':
                    chat_log_element.innerHTML += `
                        <div title="${data.timestamp}" ${data.sender_name == username ? 'class="sent-for-me"': ''}>
                            ${data.sender_name != username ? `${data.sender_name}: `: ''}
                            ${data.message}
                        </div>
                    `
                case 'get_last_messages':
                    data.messages.forEach(message => {
                        chat_log_element.innerHTML += `
                            <div title="${message.timestamp}" ${message.sender_name == username ? 'class="sent-for-me"': ''}>
                                ${message.sender_name != username ? `${message.sender_name}: `: ''}
                                ${message.message}
                            </div>
                        `
                    })
            }

            // scrolling to the bottom
            scrollToBottom(chat_log_element)
        }

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly')
        }

        function scrollToBottom(element) {
            element.scrollTo(0, element.scrollHeight)
        }

        document.querySelector('#chat-message-input').focus()
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click()
            }
        }

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input')
            const message = messageInputDom.value

            const stock_command_regex = new RegExp('\/.+=.+')
            const stock_value_regex = new RegExp('(?<==).+')

            if (message.match(stock_command_regex)) {
                const stock_value = message.match(stock_value_regex)[0]
                chatSocket.send(JSON.stringify({
                    action: 'get_stock_data',
                    stock_code: stock_value,
                }))
            } else {
                chatSocket.send(JSON.stringify({
                    action: 'new_message',
                    message: message,
                }))
            }

            messageInputDom.value = ''
        }
    </script>
</body>
</html>